<html>
    <body>
        <table border="1">
               <tr><th>PID</th>
                <th>pname</th>
                <th>qty</th>
                <th>price</th>

            </tr>  
            {%for k in data %}
            <tr>
                <td>{{k[0]}}</td>
                <td>{{k[1]}}</td>
                <td>{{k[2]}}</td>
                <td>{{k[3]}}</td>
                <td><a href ="delete/{{k[0]}}">Delete</a>/<a href = "#">Edit</a></td>
            </tr>
            {% endfor %} 
        </table>
        <a href = "acceptproduct">Add Product</a>
    </body>
</html>